:root{

--neon: #a320ff;
--accent: #d180ff;
--neon2: #8c00e6;
--cyan: #b366ff;

--bg: linear-gradient(135deg, #1a0033, #0d001a);

--text: rgba(224,224,224,0.95);
--muted: rgba(224,224,224,0.7);

--glass: rgba(40,0,80,0.2);
--stroke: rgba(163,32,255,0.3);
--shadow: 0 18px 55px rgba(163,32,255,0.25);

}


/* BODY */

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
}


/* HERO */

.hero{
text-align:center;
padding:50px;
}

.neon-text{
text-shadow:
0 0 7px rgba(163,32,255,0.85),
0 0 21px rgba(163,32,255,0.45);
}


/* SEARCH */

.search-box{
display:flex;
justify-content:center;
margin-top:20px;
}

.search-container{

display:flex;
align-items:center;
background:var(--glass);
border:1px solid var(--stroke);
padding:10px;
width:500px;
height: 30px;
border-radius:10px;

}

.search-container input{

background:none;
border:none;
outline:none;
color:var(--text);
width: 400px;
height: 25px;

}

.search-container i{
margin-right:10px;
color:var(--accent);
}


/* GRID */

.grid{

display:grid;

grid-template-columns: repeat(3, 1fr);

gap:30px;

max-width:1000px;

margin:auto;

padding:40px;

}


/* CARD */

.card{

background:var(--glass);

border:1px solid var(--stroke);

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:var(--shadow);

transition:0.3s;

}

.card:hover{

transform:translateY(-10px);

border-color:var(--neon);

box-shadow:0 0 25px rgba(163,32,255,0.5);

}


/* ICON */

.icon{

font-size:40px;

color:var(--neon);

margin-bottom:10px;

}


.card p{

color:var(--muted);

}

.logo{
  text-align: center;
  color:white;
  font-size:60px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: auto;
  font-family:Arial;
  gap: 5px;
}

.pentagon-o{

width:50px;
height:50px;

fill:none; 
stroke:#a320ff; 
stroke-width:6;

filter:
drop-shadow(0 0 5px #a320ff)
drop-shadow(0 0 15px #a320ff);

}
